.Rproj.user
.Rhistory
.RData
.Ruserdata
experiments/neural-architecture-search/charts/img/*.png
/neural-architecture-search/models/nasbench_only108.tfrecord
/neural-architecture-search/.ipynb_checkpoints
/neural-architecture-search/__pycache__
/neural-architecture-search/.env
/neural-architecture-search/bananas
/neural-architecture-search/nasbench-1shot1
/logs/*.csv
/logs/*.json
/logs/*.txt