/Users/macbook/.rvm/gems/ruby-2.4.1/bin:/Users/macbook/.rvm/gems/ruby-2.4.1@global/bin:/Users/macbook/.rvm/rubies/ruby-2.4.1/bin:/usr/local/Cellar/xtensa-esp32-elf/xtensa-esp32-elf/bin:/usr/local/opt/binutils/bin:/usr/local/opt/ncurses/bin:/usr/local/opt/gettext/bin:/Users/macbook/.pyenv/bin:/Users/macbook/.nvm/versions/node/v8.7.0/bin:/Library/Frameworks/Python.framework/Versions/3.6/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/usr/local/anaconda3/bin:/google-cloud-sdk/bin:/Users/macbook/Library/Application Support/PhantomJS:/Users/macbook/.rvm/bin